* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    min-height: 75px;
    width: 100vw;
}


.main {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;

}

/* .main>div {
    border: solid black 3px;
} */

.module {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}